.profile-picture {
    width: 30px;
    height: 30px;
}

#content {
    color: whitesmoke;
    text-align: left;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#content:hover {
    background-color: #434647;
}