.alignmentButton {
    text-align: center;
}

button {
    background-color: #2E2E2E;
    color: whitesmoke;
    text-align: center;
}

.custom-br {
    width: 95%;
    height: 2px;
    background-color: #434647;
    margin:auto; 
    display:table;
}

.title {
    align-items: center;
    text-align: center;
    background-image: url("./iu-2.jpeg");   //https://www.wallpaperup.com/304616/mixing_tables_DJ_denon.html
    background-repeat: round;
    height: 100%;
    width: 100%;
}