<div class="title">
    <br>
    <h1> <b> BIENVENUE SUR MATBAY </b>  </h1>
    <h3> Le site de référence pour les constitutions </h3>
    <br>
    <br>
    <button mat-button routerLink="/wiki"><mat-icon>help_outline</mat-icon> Pour bien commencer </button>
    <br>
    <br>
    <button mat-button routerLink="/current-constitutions"> <mat-icon>how_to_vote</mat-icon> Constitutions </button>
    <br>
    <br>
    <button mat-button routerLink="/profile"> <mat-icon> contacts</mat-icon> Mon Profil </button>
</div>

