#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.0fr;
    gap: 2%;
    grid-template-areas:
        "status"
        "profile-info";
    height: 100%;
    justify-content: center;
}

#status {
    grid-area: status;
    justify-self: center;
    display: flex;
    align-items: center;
}

#status-message {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.error {
    color: darkred;
    background-color: lightcoral;
}

.success {
    color: darkgreen;
    background-color: lightgreen;
}

#user-info {
    grid-area: profile-info;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 50%;
}

form {
    width: 100%;
    text-align: center;
}

mat-form-field {
    width: 35%;
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: whitesmoke;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        color: whitesmoke !important;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #2E2E2E !important;
    }
    .mat-input-element {
        caret-color: whitesmoke!important;
    }
    
    mat-form-field {
        .mat-hint, input, ::placeholder, .mat-form-field-label {
            color: whitesmoke;
        }
    }
}

button {
    margin: 1%;
    background-color: #2E2E2E;
    color: whitesmoke;
}
