<div id="container">
    <div *ngIf="!currentStatus.hidden" id="status"
        [ngClass]="{'hidden': currentStatus.hidden,'visible': !currentStatus.hidden}">
        <div id="status-message" [ngClass]="{'error': currentStatus.error, 'success': !currentStatus.error}">
            {{ currentStatus.message }}</div>
    </div>
    <div *ngIf="auth.user$ | async as user; else error" id="user-info">
        <h2>Bonjour {{ user.displayName }}. Voici votre profil:</h2>
        <img class="picture" [src]="user.photoURL" [alt]="user.displayName">
        <form [formGroup]="profileForm">
            <br>
            
            <mat-form-field appearance="outline" [floatLabel]="true">
                <mat-label>Nom d'utilisateur <mat-icon>group</mat-icon> </mat-label>
                <input matInput formControlName="displayName">
            </mat-form-field>
            <br>
            
            <mat-form-field appearance="outline" [floatLabel]="true">
                <mat-label>URL de la photo de profil <mat-icon>image</mat-icon> </mat-label>
                <input matInput formControlName="photoURL">
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="testUpdate()"> Actualiser </button>

        <span *ngIf="currentUser.isAuthorized[0]"> Vous faites partie du personnel autorisé </span>
        <span *ngIf="!currentUser.isAuthorized[0]"> Vous êtes un invité </span>
        <span *ngIf="currentUser.isAuthorized[1]"> et de l'équipe de developpement </span>
    </div>
    <ng-template #error class="picture">
        ERREUR: Les informations utilisateur n'ont pas pu être récupérée.
    </ng-template>
</div>