<span *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- Will be replaced by the proper template below -->
</span>

<!-- User is NOT logged in -->
<ng-template #guest>
    <span>
        <button mat-raised-button color="accent" (click)="auth.googleSignIn()">Login</button>
    </span>
</ng-template>

<!-- User is logged in -->
<ng-template #authenticated>
    <span *ngIf="auth.user$ | async as user">
        <img class="profile-picture" [src]="user.photoURL" (click)="auth.signOut()" title="{{user.displayName}}">
    </span>
</ng-template>