
    <hr>
    <div class="title">
        <h4> HISTORIQUE DES CONSTITUTIONS </h4>
        <span class="custom-br"></span>
    </div>
    <hr>
    <div class="title">
        <table id="t01">
            <tr>
                <th> Saison </th>
                <th> Partie </th>
                <th> Nom </th>
                <th> Président </th>
                <th> Gagnant </th>
                <th> Youtube Playlist </th>
                <th> Chanson Gagnante </th>
            </tr>
            <tr *ngFor="let constitution of constitutions">
                <td> {{constitution.season}} </td>
                <td> {{constitution.part}} </td>
                <td> {{constitution.name}} </td>
                <td> {{constitution.ownerName}} </td>
                <td> {{constitution.winnerName}} </td>
                <td>
                    <div *ngIf="constitution.youtubePlaylistID != ''"> 
                        <a href="https://youtube.com/playlist?list={{constitution.youtubePlaylistID}}"
                        target="_blank">https://youtube.com/playlist?list={{constitution.youtubePlaylistID}} </a>
                    </div>
                    <div *ngIf="constitution.youtubePlaylistID == ''"> Pas de lien Youtube Playlist disponible </div>
                </td>
                <td> <a href="{{constitution.winnerSongURL}}" target="_blank"> 
                        {{constitution.winnerSongTitle}} - {{constitution.winnerSongAuthor}} </a> 
                </td>
            </tr>
        </table>
    </div>

