<table matSort (matSortChange)="sortDataSong($event)" id="t01">
    <tr>
        <th mat-sort-header="id"> ID </th>
        <th mat-sort-header="title"> Titre </th>
        <th mat-sort-header="author"> Auteur </th>
        <th> URL </th>
        <th mat-sort-header="username" *ngIf="!constitution.isAnonymous"> Ajouté par </th>
    </tr>
    <tr *ngFor="let song of constitution.songs">
        <td > {{song.id}} </td>
        <td> <button mat-stroked-button class="song-name" (click)="openDialogSong(song)" matTooltip="Cliquez pour voir la chanson" [matTooltipShowDelay]="1000"> {{song.shortTitle}} </button> </td>
        <td> {{song.author}} </td>
        <td> 
            <a href="{{song.url}}" target="_blank"> {{song.url}} </a>
        </td>
        <td *ngIf="!constitution.isAnonymous"> {{showDisplayName(song.patron)}} </td>
    </tr>
</table>
