.alignment {
    text-align: center;
}

.button {
    background-color: #2E2E2E;
    color: whitesmoke;
    text-align: center;
}

.custom-br {
    width: 95%;
    height: 2px;
    background-color: #434647;
    margin:auto; 
    display:table;
}

.title {
    color: whitesmoke;
    text-align: center;
}

.close-button {
    color:red;
    background-color: #2E2E2E;
    float: left;
}

.picture {
    display: block;
    margin: 0 auto;

    width: 80px;
    height: 80px;
    -moz-border-radius: 40px;
    border-radius: 40px;    
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
}.grow {width: 100%;}

td, th {
    padding: 8px;
    width: 1%;
}

#t01 th {
    border: 1px solid #434647;
    background-color: #2E2E2E;
    color: whitesmoke;
}

#t01 tr:nth-child(even) {
    background-color: #434647;
}
#t01 tr:nth-child(odd) {
   background-color: #353738;
}

#t02 th {
    color: whitesmoke;
    text-align: center;
}

mat-expansion-panel {
    background-color: #2E2E2E;
    color: whitesmoke;
}

mat-panel-title {
    color: whitesmoke;
}

.song-name {
    background-color: #2E2E2E;
    color: whitesmoke;
}