<div class="title">
    <h2> GÉRER MES CHANSONS </h2>
    <span class="custom-br"></span>
</div>
<br>
<mat-tab-group backgroundColor="primary">
    <mat-tab label="Ajouter">
        <br>
        <div class="title">
            <h4> AJOUTER UNE CHANSON </h4>
            <span class="custom-br"></span>
            <br>
            <form [formGroup]="newSongForm">
                <mat-form-field appearance="outline" [floatLabel]="true">
                    <mat-label> Titre </mat-label>
                    <input matInput type="text" formControlName="formShortTitle" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" [floatLabel]="true">
                    <mat-label> Auteur </mat-label>
                    <input matInput type="text" formControlName="formAuthor" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" [floatLabel]="true">
                    <mat-label> URL </mat-label>
                    <input matInput type="text" formControlName="formUrl" required>
                </mat-form-field>
            </form>
            <div class="error" *ngIf="currentStatusAdd.error">
                {{currentStatusAdd.message}}
            </div>
            <button mat-raised-button class="alignmentButton" (click)="addSong()"> Ajouter la chanson </button>
            <button mat-stroked-button class="close-button" (click)="closeWindow()"> Annuler </button>
        </div>
    </mat-tab>
    <mat-tab label="Retirer">
        <br>
        <div class="title">
            <h4> RETIRER UNE CHANSON </h4>
            <span class="custom-br"></span>
            <br>
            <table id="t01">
                <tr>
                    <th> ID </th>
                    <th> Info </th>
                    <th> Action </th>
                </tr>
                <tr *ngFor="let song of getUserSongs()">
                    <td> {{song.id}} </td>
                    <td > <a href="{{song.url}}" target="_blank"> {{song.shortTitle}} </a> </td>
                    <td> <button mat-raised-button class="alignmentButton" (click)="deleteSongClick(song)"> <mat-icon>delete</mat-icon> </button> </td>
                </tr>
            </table>
            <br>
            <button mat-stroked-button class="close-button" (click)="closeWindow()"> Annuler </button>
        </div>
    </mat-tab>
</mat-tab-group>
