<div class="title">
    <h2> GÉRER MES CHANSONS </h2>
    <span class="custom-br"></span>
</div>
<br>
<div class="title">
    <h4> AJOUTER UNE CHANSON </h4>
    <span class="custom-br"></span>
    <br>
    <form [formGroup]="newSongForm">
        <mat-form-field appearance="outline" [floatLabel]="true">
            <mat-label> Titre </mat-label>
            <input matInput type="text" formControlName="formShortTitle" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" [floatLabel]="true">
            <mat-label> Auteur </mat-label>
            <input matInput type="text" formControlName="formAuthor" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" [floatLabel]="true">
            <mat-label> URL </mat-label>
            <input matInput type="text" formControlName="formUrl" required>
        </mat-form-field>
    </form>
    <div class="error" *ngIf="currentStatusAdd.error">
        {{currentStatusAdd.message}}
    </div>
    <button mat-raised-button class="alignmentButton" (click)="addSong()"> Ajouter la chanson </button>
</div>
<br>
<div class="title">
    <h4> RETIRER UNE CHANSON </h4>
    <span class="custom-br"></span>
    <br>
    <form [formGroup]="deleteSongForm">
        <mat-form-field appearance="outline" [floatLabel]="true">
            <mat-label> Index de la chanson à retirer </mat-label>
            <input matInput type="number" formControlName="formSongConstitutionNumber" required>
        </mat-form-field>
    </form>
    <div class="error" *ngIf="currentStatusDelete.error">
        {{currentStatusDelete.message}}
    </div>
    <button mat-raised-button class="alignmentButton" (click)="deleteSong()"> Retirer la chanson </button>
</div>
