<!-- Content -->
<div *ngIf="!(isUserLoading || isConstitutionLoading)">
  <!-- Sidenav -->
  <mat-sidenav-container class="sidenav">
    <h4>
      <mat-icon *ngIf="constitution.isLocked" matTooltip="La constitution est verouillée">lock</mat-icon>
      <mat-icon *ngIf="!constitution.isLocked" matTooltip="La constitution est déverouillée">lock_open</mat-icon>
      <a *ngIf="constitution.youtubePlaylistID !== ''"
        href="https://youtube.com/playlist?list={{constitution.youtubePlaylistID}}" target="_blank">
        {{constitution.name}} </a>
      <span *ngIf="constitution.youtubePlaylistID === ''"> {{constitution.name}} </span>
    </h4>
    <span class="custom-br"></span>
    <div *ngIf="constitution.songs?.length == 0"> Aucune chanson </div>
    <div *ngIf="constitution.songs?.length == 1"> {{constitution.songs.length}} chanson </div>
    <div *ngIf="constitution.songs?.length > 1"> {{constitution.songs.length}} chansons </div>
    Vous avez:
    {{numberOfSongsOfUser(currentUser.uid)}} / {{constitution.numberOfSongsPerUser}} chansons
    <br>
    <br>
    <div>
      <span class="owner"> [Président] </span>
      <img class="picture" [src]="returnOwner().photoURL" [alt]="returnOwner().displayName">
      {{returnOwner().displayName}}
    </div>
    <br>
    [Membres]
    <div *ngFor="let user of users">
      <span *ngIf="user.uid !== constitution.owner">
        <img class="picture" [src]="user.photoURL" [alt]="user.displayName"> {{user.displayName}}
        <br>
      </span>
    </div>
    <span class="custom-br"></span>
    <br>
    <button mat-raised-button color="primary" (click)="openDialogManageSongs()"> Gérer mes chansons </button>
    <br>
    <br>
    <button mat-stroked-button [disabled]="currentUser.uid === constitution.owner" color="warn"
      (click)="leaveConstitution()"> Quitter la constitution </button>
    <br>
    <span *ngIf="currentUser.uid === constitution.owner" class="warning"> Vous ne pouvez pas quitter votre
      constitution </span>
  </mat-sidenav-container>

  <div class="content">
    <!-- Navbar -->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark lighten-1" [containerInside]="false">
      <mdb-navbar-brand><a class="navbar-brand" routerLink="/"></a></mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li [ngClass]="{'nav-item': true, 'active': currentSection === SelectionType.SongList}">
            <button mat-button class="nav-link waves-light" (click)="changeCurrentSection(SelectionType.SongList)">
              <mat-icon>list</mat-icon> Liste Chansons
            </button>
          </li>
          <li [ngClass]="{'nav-item': true, 'active': currentSection === SelectionType.Vote}">
            <button mat-button class="nav-link waves-light" (click)="changeCurrentSection(SelectionType.Vote)">
              <mat-icon>how_to_vote</mat-icon> Zone Électorale
            </button>
          </li>
          <li [ngClass]="{'nav-item': true, 'active': currentSection === SelectionType.Owner}">
            <button *ngIf="constitution.owner === currentUser.uid" mat-button class="nav-link waves-light"
              (click)="changeCurrentSection(SelectionType.Owner)">
              <mat-icon>account_balance</mat-icon> Présidence
            </button>
          </li>
          <li [ngClass]="{'nav-item': true, 'active': currentSection === SelectionType.Result}">
            <button mat-button class="nav-link waves-light" (click)="changeCurrentSection(SelectionType.Result)">
              <mat-icon>equalizer</mat-icon> Resultats
            </button>
          </li>
          <li [ngClass]="{'nav-item': true, 'active': currentSection === SelectionType.Export}">
            <button mat-button class="nav-link waves-light" (click)="changeCurrentSection(SelectionType.Export)">
              <mat-icon>get_app</mat-icon> Exporter
            </button>
          </li>
        </ul>
      </links>
    </mdb-navbar>
    <br>

    <!-- Song List-->
    <song-list-section *ngIf="currentSection === SelectionType.SongList" 
      [constitution]="constitution" [users]="users">
    </song-list-section>

    <!-- Vote List -->
    <graded-vote-list-section *ngIf="currentSection === SelectionType.Vote && constitution.type === constitutionType.GRADE" 
      [constitution]="constitution" [users]="users" [currentUser]="currentUser" [currentSection]="currentSection" [votes]="votes">
    </graded-vote-list-section>

    <ranked-vote-list-section *ngIf="currentSection === SelectionType.Vote && constitution.type === constitutionType.RANK">
    </ranked-vote-list-section>

    <!-- Owner Info -->
    <graded-owner-section *ngIf="currentSection === SelectionType.Owner && constitution.type === constitutionType.GRADE"
      [constitution]="constitution" [users]="users" [votes]="votes" [currentUser]="currentUser">
    </graded-owner-section>

    <ranked-owner-section *ngIf="currentSection === SelectionType.Owner && constitution.type === constitutionType.RANK">
    </ranked-owner-section>

    <!-- Result Info -->
    <graded-result-section *ngIf="currentSection === SelectionType.Result && constitution.type === constitutionType.GRADE" 
      [constitution]="constitution" [users]="users" [votes]="votes" [currentUser]="currentUser">
    </graded-result-section>

    <ranked-result-section *ngIf="currentSection === SelectionType.Result && constitution.type === constitutionType.RANK">
    </ranked-result-section>

    <!-- Export Option -->
    <graded-export-section *ngIf="currentSection === SelectionType.Export && constitution.type === constitutionType.GRADE" 
      [constitution]="constitution" [users]="users">
    </graded-export-section>

    <ranked-export-section *ngIf="currentSection === SelectionType.Export && constitution.type === constitutionType.RANK">
    </ranked-export-section>

  </div>
</div>


<!-- If not ready-->
<div *ngIf="isUserLoading || isConstitutionLoading">
  Page en cours de chargement...
</div>