<mat-sidenav-container class="sidenav">
    <div>
        <h4> {{constitution.name}} </h4>
        <span class="custom-br"></span>
        <div *ngIf="constitution.songs.length == 0"> Aucune chanson </div>
        <div *ngIf="constitution.songs.length != 0"> {{constitution.songs.length}} chansons </div>
        Il vous reste:
        {{numberOfSongsOfUser(currentUser.uid)}} / {{constitution.numberOfSongsPerUser}} chansons
        <br>
        <br>
        Membres :
        <div *ngFor="let user of users">
            <img class="picture" [src]="user.photoURL" [alt]="user.displayName"> {{user.displayName}}
            <br>
        </div>
        <span class="custom-br"></span>
        <br>
        <button mat-button color="primary" (click)="openDialog()"> Gérer mes chansons </button>
    </div>
</mat-sidenav-container>

<div class="content">
    <table id="t01">
        <tr>
            <th> Index </th>
            <th> Titre </th>
            <th> Auteur </th>
            <th> URL </th>
            <th> Ajouté par </th>
        </tr>
        <tr *ngFor="let song of constitution.songs">
            <td> {{getSongIndex(song.url)}} </td>
            <td> {{song.shortTitle}} </td>
            <td> {{song.author}} </td>
            <td> {{song.url}} </td>
            <td> </td>
        </tr>
    </table>
</div>
