<hr>
<div class="title">
    <h4> CONSTITUTIONS EN COURS </h4>
    <span class="custom-br"></span>
</div>
<hr>
<div class="title">
    <table id="t01">
        <tr>
            <th> Saison </th>
            <th> Partie </th>
            <th> Nom </th>
            <th> Président </th>
            <th> Youtube Playlist </th>
            <th> Statut </th>
        </tr>
        <tr *ngFor="let constitution of constitutionManager.constitutions">
            <td *ngIf="isAuthorized(constitution)"> {{constitution.season}} </td>
            <td *ngIf="isAuthorized(constitution)"> {{constitution.round}} </td>
            <td *ngIf="isAuthorized(constitution)"> {{constitution.name}} </td>
            <td *ngIf="isAuthorized(constitution)"> {{constitution.owner}}</td>
            <td *ngIf="isAuthorized(constitution)">
                <a href="https://youtube.com/playlist?list={{constitution.youtubePlaylistID}}"
                    target="_blank">https://youtube.com/playlist?list={{constitution.youtubePlaylistID}}</a>
            </td>
            <button mat-button *ngIf="isAuthorized(constitution)" routerLink="{{constitution.name}}"> Rejoindre
            </button>

        </tr>
    </table>
</div>