<hr>
<div class="title">
    <h4> CONSTITUTIONS EN COURS </h4>
    <span class="custom-br"></span>
</div>
<hr>
<div class="title">
    <table id="t01">
        <tr>
            <th> Saison </th>
            <th> Partie </th>
            <th> Nom </th>
            <th> Président </th>
            <th> Youtube Playlist </th>
            <th> Statut </th>
        </tr>
        <tr *ngFor="let constitution of constitutionManager.constitutions">
            <td> {{constitution.season}} </td>
            <td> {{constitution.round}} </td>
            <td> {{constitution.name}} </td>
            <td> {{constitution.owner}}</td>
            <td>
                <a href="https://youtube.com/playlist?list={{constitution.youtubePlaylistID}}"
                    target="_blank">https://youtube.com/playlist?list={{constitution.youtubePlaylistID}}</a>
            </td>
            <button *ngIf="!isUserAlreadyAMember(constitution)" mat-button routerLink="{{constitution.youtubePlaylistID}}" (click)="joinConstitution(constitution)"> Rejoindre </button>
            <button *ngIf="isUserAlreadyAMember(constitution)" mat-button routerLink="{{constitution.youtubePlaylistID}}"> Voir </button>
        </tr>
    </table>
</div>