<div class="title">
    <a href="{{song.url}}" target="_blank">
        <h3> {{song.shortTitle}} - {{song.author}} </h3>
    </a>
    <span class="custom-br"></span>
    <br>
    <iframe width="720" height="480" frameborder="0"
        [src]="safeUrl" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <br>
    <button mat-button class="button" (click)="chooseRandomSong()"> <mat-icon>replay</mat-icon> </button>
</div>
<br>
<div>
    <button mat-stroked-button class="close-button" (click)="closeWindow()"> Annuler </button>
</div>


