<mat-checkbox color="primary" (change)="onChange($event)"> Cacher les chansons déjà votés </mat-checkbox>
<span class="custom-br"></span>
<br>
<table matSort (matSortChange)="sortDataSong($event)" id="t01">
     <tr>
        <th mat-sort-header="id"> ID </th>
        <th mat-sort-header="title"> Titre </th>
        <th> URL </th>
        <th mat-sort-header="grade"> Note </th>
    </tr>
    <tr *ngFor="let song of getUserSongToVote()">
        <td> {{song.id}} </td>
        <td> <button mat-stroked-button class="song-name" (click)="openDialogSong(song)"> {{song.shortTitle}} </button> </td>
        <td> 
            <a href="{{song.url}}" target="_blank"> {{song.url}} </a>
        </td>
        <td *ngIf="currentUser.uid === song.patron"> / </td>
        <td *ngIf="(currentUser.uid !== song.patron && returnVote(song) !== -1)"> {{returnVote(song)+1}} </td>
        <td *ngIf="(currentUser.uid !== song.patron && returnVote(song) === -1)">  </td>
    </tr>
</table>
