.custom-br {
    width: 95%;
    height: 2px;
    background-color: #434647;
    margin:auto; 
    display:table;
}

.song-name {
    background-color: #2E2E2E;
    color: whitesmoke;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}.grow {width: 100%;}

td, th {
    border: 1px solid #434647;
    padding: 8px;
    width: 1%;
}

td {
    text-align: center;
}

#t01 th {
    background-color: #2E2E2E;
    color: whitesmoke;
}

#t01 tr:nth-child(even) {
    background-color: #434647;
}
#t01 tr:nth-child(odd) {
   background-color: #353738;
}

mat-expansion-panel {
    background-color: #2E2E2E;
    color: whitesmoke;
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: whitesmoke;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        color: whitesmoke !important;
    }
    .mat-input-element {
        caret-color: whitesmoke!important;
    }
    
    mat-form-field {
        .mat-hint, input, ::placeholder, .mat-form-field-label {
            color: whitesmoke;
        }
    }
}

mat-panel-title {
    color: whitesmoke;
}

mat-form-field {
    width: 35%;
}