.button {
    background-color: #2E2E2E;
    color: whitesmoke;
    text-align: center;
}

.custom-br {
    width: 95%;
    height: 2px;
    background-color: #434647;
    margin:auto; 
    display:table;
}

.picture {

    width: 45px;
    height: 45px;
    -moz-border-radius: 25px;
    border-radius: 25px;    
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}.grow {width: 100%;}

td, th {
    border: 1px solid #434647;
    padding: 8px;
    width: 1%;
}

td {
    text-align: center;
}

#t03 th {
    text-align: center;
}

#t02 th {
    background-color: #434647;
    color: whitesmoke;
    text-align: center;
}

#t01 th {
    background-color: #2E2E2E;
    color: whitesmoke;
}

#t01 tr:nth-child(even) {
    background-color: #434647;
}
#t01 tr:nth-child(odd) {
   background-color: #353738;
}

#t03 th {
    background-color: #2E2E2E;
    color: whitesmoke;
}

#t03 tr:nth-child(even) {
    background-color: #434647;
}
#t03 tr:nth-child(odd) {
   background-color: #353738;
}

.warning {
    color: red
}

mat-expansion-panel {
    background-color: #2E2E2E;
    color: whitesmoke;
}

mat-panel-title {
    color: whitesmoke;
}